<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CU KNOWLEDGE HUB</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">CU KNOWLEDGE HUB</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/search">HOME</a></li>
          <li id="about"><a href="/upload">UPLOAD</a></li>
          <li id="about"><a href="/delete">DELETE</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">


<% for (var i = 0; i < newItems.length; i++) {%>
<div class="item">
<h1><%= newItems[i].title %></h1>
</div>
<div class="">
  <p>
    <%= newItems[i].content.substring(0, 100) + " ..."%>
    <a href="/posts/<%= newItems[i]._id%>">Read More</a>
  </p>
</div>
</form>
<% }; %>
